{% extends 'layout.html' %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block style %}
<style>
    .contain {
        display: inline-block;
        /* Let the box grow in width & height */
        padding: 20px;
        background-color: white;
        border: 2px solid #0d6efd;
        border-radius: 15%;
    }

    .chfont{
        font-family: cursive;
    }

    a{
        text-decoration: none;
    }

</style>


{% endblock %}
{% block content %}

<div class="container-fluid row mb-3">
    {% include 'lot.html'   %}
    
    <div class=" d-grid gap-2 col-2 mx-auto mb-5">
        <a href="{{url_for('add_lot')}}" class="chfont btn btn-info mt-4" style="border:2px solid black">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Lots
        </a>
    </div>
</div>


{% endblock %}