{% extends 'layout.html' %}
{% block navbar %}
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block style %}
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url("{{ url_for('static', filename='bg.jpg') }}");
        background-size: cover;
        background-position: center;
        color: white;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        background: rgba(0, 0, 0, 0.5);
        padding: 40px;
        border-radius: 10px;
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <h1>Welcome to the Vehicle Parking App</h1>
        <a href="{{url_for('login')}}" class="btn btn-primary btn-lg">Get Started</a>
    </div>
</div>
{% endblock %}
