{% extends 'layout.html' %}

{% block navbar %}
{% endblock %}

{% block style %}
    <style>
        .info-line {
            margin: 5px 0;
            font-family: Arial, sans-serif;
        }
        .label {
            font-weight: bold;
            color: #555;
        }

        .col-6{
            width: 60%;
            height: 60%;
        }

        .chfont{
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
            text-decoration: underline;
            color: rgb(25, 25, 176);
        }

        span{
            font-size: larger;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-6 shadow-lg">
            <div class="chfont ">
                <h2>OCCUPIED SPOT DETAILS</h2>
            </div>
            <div class="info-line mt-5">
                <div class="data">
                    <span class="label">User ID :</span> {{ reservation.user_id }}
                    <br>
                    <span class="label">Username:</span> {{ reservation.user.username }}
                    <br>
                    <span class="label">Vehicle number :</span> {{ reservation.vehicle.vehicle_number }}
                    <br>
                    <span class="label">Date/time of parking :</span> {{ reservation.parking_timestamp }}
                    <br>
                    <span class="label">Estimated total cost :</span> {{ est_cost }}

                </div>
               
            </div>
            
            <div class=" d-grid gap-2 col-4 mx-auto">
                <a href="{{url_for('admin')}}" class="btn btn-warning mt-4" style="border:2px solid black">
                    Close
                 </a>
            </div>
</body>
</html> 
{% endblock %}